.featured-section {
    margin-top: 50px;
    z-index: 10;
}
.game-screen{
    background-image: url("../../assets/images/game-lg.svg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.border-circle-icon{
    padding: 10px;
    border-radius: 16px;
    width: 50px;
    height: 50px;
    display: flex;
    text-align: center;
    background: #8080801A;
    background-blend-mode: luminosity;

    border: double 1px transparent;
    background-image: linear-gradient(#232323, #141212a1), radial-gradient(circle at top left, rgba(255, 255, 255, 0.1) 1.69%, rgba(255, 255, 255, 0.4) 50.48%, rgba(255, 255, 255, 0.1) 98.31%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}
.direct-53{
    padding: 20px;
    background: linear-gradient(to top right, #EF4444 -250%, transparent 50%, #53DFF3 400%);
    backdrop-filter: blur(10px);
}


.featured-section .dropdown-content{
    display: none;
}
.featured-section .download-btn:hover .dropdown-content {display: block;}
.featured-section .download {
    background: #8080801A;
    background-blend-mode: luminosity;
    border-radius: 18px;
    padding: 16px 24px 16px 24px;
    position: absolute;
    text-align: right;
    top: 50px;
    left: 0px;
}
.featured-section .download-item >a> img {
    padding-top: 5px;
}
.featured-section .download-item:hover {
    background-color: #7C7C7C33;
    border-radius: 8px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .game-screen{
        background-image: url("../../assets/images/game-lg.svg");
        min-height: 240px;
    }
    .direct-53{
        margin-top: 50px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .game-screen{
        background-image: url("../../assets/images/game-lg.svg");
        min-height: 280px;
    }
    .direct-53{
        margin-top: 50px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .game-screen{
        background-image: url("../../assets/images/game-sm.svg");
        min-height: 470px
    }
   
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .game-screen{
        background-image: url("../../assets/images/game-md.svg");
        min-height: 470px
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .game-screen{
        background-image: url("../../assets/images/game-lg.svg");
        min-height: 400px
    }
}