@import './colors.scss';
@import './fonts.scss';
@import './spaces.scss';
@import './commons.scss';
@import './sections/header.scss';
@import './sections/footer.scss';
@import './sections/home.scss';
@import './sections/featured.scss';
