body{
    background-color: black;
}
.common-btn-win{
    padding: 10px 18px 13px 18px;
    border-radius: 14px;
    white-space: nowrap;
}
.common-btn-linux{
    padding: 10px 18px 10px 18px;
    border-radius: 14px;
    white-space: nowrap;
}
.black-btn{
    background-color: #161616;
}
.red-btn{
    background-color: #EF4444;
}