@font-face {
  font-family: "Cobe";
  line-height: 2;
  src: url("../fonts/cobe/Cobe\ Light.ttf");
}

@font-face {
  font-family: "CobeItalic";
  src: url("../fonts/cobe/Cobe\ Italic.ttf");
}

h1 {
  font-family: "CobeItalic";
  font-size: 144px;
}
.fw-b {
  font-weight: bold;
}

h2 {
  font-family: "CobeItalic";
  font-size: 94px;
}
.fs-h4 {
  font-family: "CobeItalic";
  font-size: 24px;
}
.h2-italic {
  font-family: "CobeItalic";
  font-size: 144px;
  font-weight: bold;
}
.fc-xs {
  font-size: 8px;
  font-family: "Cobe";
  line-height: 2;
}

.fc-s {
  font-size: 12px;
  font-family: "Cobe";
  line-height: 2;
}

.fc-s2 {
  font-size: 14px;
  font-family: "Cobe";
  line-height: 2;
}

.fc-m {
  font-size: 16px;
  font-family: "Cobe";
  line-height: 2;
  font-weight: 400;
}

.fc-m2 {
  font-size: 18px;
  font-family: "Cobe";
  line-height: 22px;
}

.fc-m2-big {
  font-size: 18px;
  font-family: "Cobe";
  line-height: 22px;
}

.fc-m3 {
  font-size: 18px;
  font-family: "Cobe";
  line-height: 26.35px;
}

.fc-l {
  font-size: 24px;
  font-family: "Cobe";
  line-height: 2;
}
.fs-f-h{
  font-size: 44px;
  font-family: "Cobe";
}
.fs-p {
  font-size: 20px;
  font-family: "Cobe";
  line-height: 25px;
}
.fs-p-big{
  font-size: 20px;
  font-family: "Cobe";
  line-height: 25px;
}
.fc-l2-Italic {
  font-size: 44px;
  font-family: "CobeItalic";
}
.fc-l2 {
  font-size: 34px;
  font-family: "Cobe";
  line-height: 2;
  line-height: 100%;
}

.fc-xl {
  font-size: 64px;
  font-family: "Cobe";
  line-height: 2;
}

.fc-xl1-Italic {
  font-size: 44px;
  font-family: "CobeItalic";
}

.fc-xl2-Italic {
  font-size: 144px;
  font-family: "CobeItalic";
}

.fc-l-Italic {
  font-size: 24px;
  font-family: "CobeItalic";
}
.fc-m-j{
  font-size: 44.51px;
  font-weight: bold;
  font-family: "Cobe";
}
.fc-l-Italic-nochange {
  font-size: 24px;
  font-family: "CobeItalic";
}

@media only screen and (max-width: 1350px) {
  .fc-xl2-Italic {
    font-size: 104px;
    font-family: "CobeItalic";
  }
}

@media only screen and (max-width: 1100px) {
  .fc-xl2-Italic {
    font-size: 84px;
    font-family: "CobeItalic";
  }
}

@media only screen and (max-width: 900px) {
  .fc-xl2-Italic {
    font-size: 74px;
    font-family: "CobeItalic";
  }
  .fc-l2-Italic {
    font-size: 34px;
  }
}

@media only screen and (min-width: 1900px) {
  
  .modal-header{
    padding-top: 50px;
  }
}

@media only screen and (max-width: 600px) {
  
}

@media only screen and (max-width: 1350px) {
  .fc-xl {
    font-size: 44px;
    font-family: "Cobe";
    line-height: 2;
  }

  h2 {
    font-family: "CobeItalic";
    font-size: 75px;
  }

  h1 {
    font-family: "CobeItalic";
    font-size: 64px;
  }
}

@media only screen and (max-width: 900px) {
  .fc-xl {
    font-size: 34px;
    font-family: "Cobe";
    line-height: 2;
  }

  .fc-l-Italic {
    font-size: 18px;
    font-family: "CobeItalic";
  }
}

@media only screen and (max-width: 600px) {
  .fc-xl2-Italic {
    font-size: 90px;
    font-family: "CobeItalic";
    font-weight: 500;
  }
  .fs-p {
    font-size: 16px;
  }
  .fc-l-Italic {
    font-size: 24px;
    font-family: "CobeItalic";
  }
  .h2-italic {
    font-size: 64px;
  }
  h1 {
    font-family: "CobeItalic";
    font-size: 50px;
  }
  h2 {
    font-family: "CobeItalic";
    font-size: 58px;
  }
}

@media only screen and (min-width: 1440px) {
  .fc-l-Italic {
    font-size: 26px;
  }
  /* .fs-p {
    font-size: 22px;
  } */
}

.line-25 {
  line-height: 25px;
}