@font-face {
    font-family: "Cobe";
    src: url("../fonts/cobe/Cobe\ Regular.ttf");
}
.bold {
    font-weight: bold;
}
.bold-semi {
    font-weight: 600;
}
.italic {
    font-style: italic;
}
.nowap{
    white-space: nowrap;
}
.fs-16{
    font-family: 'Cobe';
    font-size: 16px;
}
.fs-18{
    font-family: 'Cobe';
    font-size: 18px;
}
.fs-20{
    font-family: 'Cobe';
    font-size: 20px;
}
.fs-24{
    font-family: 'Cobe';
    font-size: 24px;
}
.fs-38{
    font-family: 'Cobe';
    font-size: 38px;
}
.fs-48{
    font-family: 'Cobe';
    font-size: 48px;
}
.fs-96{
    font-family: 'Cobe';
    font-size: 96px;
}
