.content-center{
    display: flex;
    align-items: center;
}
.m-lr-10{
    margin-left: 10px;
    margin-right: 10px;
}
.m-tb-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.m-tb-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.m-t-20{
    margin-top: 20px;
}